<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>My Portfolio</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./work.html" title="">04 : Certificates</a></li>
          <li><a href="./contact.html" title="">05 : Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work1.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">04 : Certificates</h1>
          </div>
          <p>I was trained on various platforms, such as  <a href="https://www.udemy.com/">Udemy</a>, <a href="https://welcome.stepik.org/ru">Stepik</a>, and <a href="https://www.coursera.org/">Coursera</a>.</p>
        </div>
      </div>



      <div class="col-md-12">

      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">
                      <a href="https://www.udemy.com/certificate/UC-9c16f85c-96e4-4cb8-9053-31f839b5f790/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/udemy_zero_to_mastery.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/015</h4>
                        <h3>Complete Python Developer in 2020: Zero to Mastery</h3>
                        <a href="https://www.udemy.com/certificate/UC-9c16f85c-96e4-4cb8-9053-31f839b5f790/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                     <div class="col-sm-4">
                      <a href="https://www.udemy.com/certificate/UC-f73468ea-8673-4dbe-b455-1aa0f8071fb1/" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/udemy_ml.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/015</h4>
                        <h3>Complete Machine Learning and Data Science: Zero to Mastery</h3>
                        <a href="https://www.udemy.com/certificate/UC-f73468ea-8673-4dbe-b455-1aa0f8071fb1/" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                     <div class="col-sm-4">
                      <a href="https://stepik.org/cert/327927" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/stepik.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/015</h4>
                        <h3>Программирование на языке C++</h3>
                        <a href="https://stepik.org/cert/327927" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                </div>
                <!--/row-->
            </div>
            <!--/item-->
             <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://www.coursera.org/account/accomplishments/verify/UXV6VB9BHC7Z?utm_source=link&utm_medium=certificate&utm_content=lih&utm_campaign=card_button" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/js.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>004/015</h4>
                        <h3>JavaScript, часть 1: основы и функции</h3>
                        <a href="https://www.coursera.org/account/accomplishments/verify/UXV6VB9BHC7Z?utm_source=link&utm_medium=certificate&utm_content=lih&utm_campaign=card_button" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                   <div class="col-sm-4">
                    <a href="https://www.coursera.org/account/accomplishments/verify/HKFZQVZ3CMB7?utm_source=link&utm_medium=certificate&utm_content=lih&utm_campaign=card_button" class="black-image-project-hover">
                      <img src="./static/assets/images/white_belt.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>005/015</h4>
                      <h3>Основы разработки на C++: белый пояс</h3>
                      <a href="https://www.coursera.org/account/accomplishments/verify/HKFZQVZ3CMB7?utm_source=link&utm_medium=certificate&utm_content=lih&utm_campaign=card_button" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                    <div class="col-sm-4">
                      <a href="https://www.coursera.org/account/accomplishments/verify/JAJ3W3K32UPT?utm_source=link&utm_medium=certificate&utm_content=lih&utm_campaign=card_button" class="black-image-project-hover">
                        <img src="./static/assets/images/yellow_belt.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/015</h4>
                        <h3>Основы разработки на C++: жёлтый пояс</h3>
                        <a href="https://www.coursera.org/account/accomplishments/verify/JAJ3W3K32UPT?utm_source=link&utm_medium=certificate&utm_content=lih&utm_campaign=card_button" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                </div>
                <!--/row-->
            </div>
            <!--/item-->

            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://www.kaggle.com/learn/certification/alena0909/intro-to-sql" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/sql.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>007/015</h4>
                        <h3>Intro to SQL</h3>
                        <a href="https://www.kaggle.com/learn/certification/alena0909/intro-to-sql" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                   <div class="col-sm-4">
                    <a href="https://www.kaggle.com/learn/certification/alena0909/pandas" class="black-image-project-hover">
                      <img src="./static/assets/images/pandas.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>008/015</h4>
                      <h3>Pandas</h3>
                      <a href="https://www.kaggle.com/learn/certification/alena0909/pandas" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="https://www.kaggle.com/learn/certification/alena0909/data-cleaning" class="black-image-project-hover">
                      <img src="./static/assets/images/clean.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>009/015</h4>
                      <h3>Data Cleaning</h3>
                      <a href="https://www.kaggle.com/learn/certification/alena0909/data-cleaning" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                </div>
                <!--/row-->
            </div>
            <!--/item-->

            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://coursera.org/share/70165132d79835eba43a0dc9b2b04c2a" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/ds1.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>010/015</h4>
                        <h3>Introduction to Data Science in Python</h3>
                        <a href="https://coursera.org/share/70165132d79835eba43a0dc9b2b04c2a" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                   <div class="col-sm-4">
                    <a href="https://stepik.org/cert/834655" class="black-image-project-hover">
                      <img src="./static/assets/images/stat1.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>011/015</h4>
                      <h3>Основы статистики</h3>
                      <a href="https://stepik.org/cert/834655" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                      <a href="https://coursera.org/share/ffc86b4bd5105458d7106fee7e8c03d6" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/ds2.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>012/015</h4>
                        <h3>Applied Plotting, Charting & Data Representation in Python</h3>
                        <a href="https://coursera.org/share/ffc86b4bd5105458d7106fee7e8c03d6" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                </div>
                <!--/row-->
            </div>
            <!--/item-->

            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://coursera.org/share/ce88bb9665827b77a94b2123b486a1e7" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/ds3.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>013/015</h4>
                        <h3>Applied Machine Learning in Python</h3>
                        <a href="https://coursera.org/share/ce88bb9665827b77a94b2123b486a1e7" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                  <!-- <div class="col-sm-4">-->
                  <!--  <a href="https://stepik.org/cert/834655" class="black-image-project-hover">-->
                  <!--    <img src="./static/assets/images/stat1.png" alt="Image" class="img-responsive">-->
                  <!--  </a>-->
                  <!--  <div class="card-container">-->
                  <!--    <h4>011/015</h4>-->
                  <!--    <h3>Основы статистики</h3>-->
                  <!--    <a href="https://stepik.org/cert/834655" class="btn btn-default">Discover</a>-->
                  <!--  </div>-->
                  <!--</div>-->

                  <!--<div class="col-sm-4">-->
                  <!--    <a href="https://coursera.org/share/ffc86b4bd5105458d7106fee7e8c03d6" title="" class="black-image-project-hover">-->
                  <!--      <img src="./static/assets/images/ds2.png" alt="" class="img-responsive">-->
                  <!--    </a>-->
                  <!--    <div class="card-container card-container-lg">-->
                  <!--      <h4>012/015</h4>-->
                  <!--      <h3>Applied Plotting, Charting & Data Representation in Python</h3>-->
                  <!--      <a href="https://coursera.org/share/ffc86b4bd5105458d7106fee7e8c03d6" title="" class="btn btn-default">Discover</a>-->
                  <!--    </div>-->
                  <!--  </div>-->

                </div>
                <!--/row-->
            </div>
            <!--/item-->


        </div>
        <!--/carousel-inner-->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>